@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    width: 55%;
    height: 500px;
    margin: auto;
    border-radius: 20px;
}



.category{
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 2em;
}

h1{
    font-family: "Fraunces", serif;
    font-size: 2.5em;
    color: hsl(212, 21%, 14%);
}



.imagem img {
    display: flex;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

   }

.prices {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

button{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    padding: 20px;
    margin-bottom: 2em;
    border-style: none;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    
}

button:hover {
    background-color:  hsl(212, 21%, 14%);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: hsl(0, 0%, 100%);
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  .text-description{
    display: flex;
    padding-left: 2em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p{

    font-size: 16px;
    text-align: justify;
}

.imagem, .text-description{
    flex: 1;
    box-sizing: border-box;
    
}

.imagem img.mobile{
    display: none;
}

.perf-text{
    width: 80%;
}

.promo-price{
    font-size: 3em;
    font-weight: 700;
   
}

.normal-price{
    padding-left: 2em;
    padding-right: 6em;
    
}

.cart-image{
    padding-right: 10px;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    
}


@media(max-width: 1000px){
    .container {
        width: 90%;
        height: auto;
        display: block;
      }

      .imagem img.mobile {
        display: flex;
        width: 100%;
        max-height: 450px;

       }

       .imagem img.desktop {
        display: none;
    }

       .text-description{
        padding-top: 20px;
       }

}









